<div class="container">
  <div class="row">
    <div class="col-lg-12 cv-header">
      <h1 class="page-header">By The Numbers</h1>
      {{#parallax-content speed=0.25 height=125}}
        <img src="/assets/img/strip.jpg">
      {{/parallax-content}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="choleric-vision-video">
        <iframe width="100%" src="https://www.youtube.com/embed/U77M50tpRfk" frameborder="1" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-md-4">
      <h3>Project Description</h3>
      <p>
        By the Numbers is a virtual reality on-rails paint shooter. The player experiences the 4 seasons as they are pulled through a landscape in a wooden cart. Leap Motion controls allow the user to spray paint in a colour of their choice on the objects passing by.
      </p>
      <p>
        Players attempt to earn the highest score by making use of the multipliers based on the variety of colours they use and the bonuses earned through using the correct colour scheme within each respective season. They can select a colour by turning their hand palm up to open the palette, and closing their hand when the desired colour comes into view. This colour can then be sprayed if the user holds their hand up with their palm facing the screen.
      </p>
      <p>
        This game is a slightly competitive digital colouring book inspired by Bob Ross.
      </p>
      <h3>Project Team</h3>
      <ul>
        <li><strong>Becca Baird</strong>: 3D Artist</li>
        <li><strong>Chris Heyerdahl</strong>: Programmer</li>
        <li><strong>Claudia Gunn-Harcus</strong>: 3D Artist</li>
        <li><strong>Erica Lekawski</strong>: Programmer</li>
        <li><strong>Lukundo Lako</strong>: Programmer</li>
      </ul>
      <h3>Software</h3>
      <ul>
        <li>Blender</li>
        <li>Maya</li>
        <li>Unity</li>
      </ul>
    </div>
  </div>
</div>
<br />
<div class="container">
  <div class="row">
    <div class="col-md-3 col-lg-3 col-sm-3">
      <div class="sketchfab-embed-wrapper"><iframe width="100%" src="https://sketchfab.com/models/2338d11be4f0482eb0f865ed343ed33b/embed" frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>
        <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">  
           <a href="https://sketchfab.com/models/2338d11be4f0482eb0f865ed343ed33b?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Corn Stalk</a>  
           by <a href="https://sketchfab.com/bairdbones?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Becca Baird</a>  
           on <a href="https://sketchfab.com?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a>
        </p>
      </div>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-3">
      <div class="sketchfab-embed-wrapper"><iframe width="100%" src="https://sketchfab.com/models/1e96b7b355854ad09b03b76974806dc8/embed" frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>
        <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">    
          <a href="https://sketchfab.com/models/1e96b7b355854ad09b03b76974806dc8?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Barn</a>   
          by <a href="https://sketchfab.com/bairdbones?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Becca Baird</a>    
          on <a href="https://sketchfab.com?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a>
        </p>
      </div>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-3">
      <div class="sketchfab-embed-wrapper"><iframe width="100%" src="https://sketchfab.com/models/199574f0bcec4f8b93ae1c2a48412989/embed" frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>
        <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
          <a href="https://sketchfab.com/models/199574f0bcec4f8b93ae1c2a48412989?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Winter Maple Tree</a>  
          by <a href="https://sketchfab.com/bairdbones?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Becca Baird</a> 
          on <a href="https://sketchfab.com?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a>
        </p>
      </div>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-3">
      <div class="sketchfab-embed-wrapper"><iframe width="100%" src="https://sketchfab.com/models/d93eb61f3db048759e5b31ad2e46947c/embed" frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>
        <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;"> 
        <a href="https://sketchfab.com/models/d93eb61f3db048759e5b31ad2e46947c?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Cabin</a>  
        by <a href="https://sketchfab.com/bairdbones?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Becca Baird</a>
        on <a href="https://sketchfab.com?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a>
        </p>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="timeline-container">
   <div id="smartwizard" class="wizard_horizontal col-12">
    <ul class="wizard_steps col-12">
      <li class="done" id='li-1'>
        <a href="#step-1">
          <span class="step_no"></span>
          <span class="step_descr">Alpha</span>
        </a>
      </li>
      <li class="done" id='li-2'>
        <a href="#step-2">
          <span class="step_no"></span>
          <span class="step_descr">Beta</span>
        </a>
      </li>
      <li class="done" id='li-3'>
        <a href="#step-3">
          <span class="step_no"></span>
          <span class="step_descr">Final</span>
        </a>
      </li>
    </ul>
    <div>
      <div id="step-1">
        <div class="smart-wizard-step">
          <h6 class="wizard-header">Alpha</h6>
          <div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <ul class="nav nav-tabs nav-justified">
                <li class="active"><a data-toggle="tab" href="#MandT">Map and Track</a></li>
                <li><a data-toggle="tab" href="#DCM">Default Cube Models</a></li>
              </ul>
              <div class="tab-content">
                <div id="MandT" class="tab-pane fade in active">
                  <h5>MAP AND TRACK</h5>
                  <ul>
                    <li>
                        A map was created with a set track for the player to traverse through in order to test the Oculus Rift in conjunction with an on rails style of gameplay and get an idea of scale
                    </li>
                  </ul> 
              </div>
              <div id="DCM" class="tab-pane fade">
                <h5>DEFAULT CUBE MODELS</h5>
                <ul>
                    <li>
                        Cubes were placed around the track to test the painting mechanic (controlled with a mouse at this stage rather than the Leap Motion)
                    </li>
                </ul> 
              </div>
            </div>
           </div>  
          </div>
        </div>
        <div class="container">
            <img width="100%" class="CV-image" src="/assets/img/alphaBTN.png" alt="alphaBTN">
        </div>
      </div>
      <div id="step-2">
        <div class="smart-wizard-step">
          <h6 class="wizard-header">Beta</h6>
          <div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <ul class="nav nav-tabs nav-justified">
                <li class="active"><a data-toggle="tab" href="#FMA">Final Model Assets</a></li>
                <li><a data-toggle="tab" href="#LMC">Leap Motion Controls</a></li>
              </ul>
              <div class="tab-content">
                <div id="FMA" class="tab-pane fade in active">
                  <h5>FINAL MODEL ASSETS</h5>
                  <ul>
                    <li>
                        The final stylized low poly models were completed and replaced the default cubes in the game map
                    </li>
                  </ul> 
              </div>
              <div id="LMC" class="tab-pane fade">
                <h5>LEAP MOTION CONTROLS</h5>
                <ul>
                    <li>
                        Players can select and shoot colours using hand controls with the Leap Motion
                    </li>
                </ul> 
              </div>
            </div>
           </div>  
          </div>
        </div>
        <div class="container">
            <img width="100%" class="CV-image" src="/assets/img/betaBTN.png" alt="betaBTN">
        </div>
      </div>
      <div id="step-3">
        <div class="smart-wizard-step">
          <h6 class="wizard-header">Final</h6>
          <div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <ul class="nav nav-tabs nav-justified">
                <li class="active"><a data-toggle="tab" href="#fshaders">Final Shaders</a></li>
                <li><a data-toggle="tab" href="#finishing-touches">Finishing Touches</a></li>
                <li><a data-toggle="tab" href="#ft">Finishing Touches</a></li>
              </ul>
              <div class="tab-content">
                <div id="fshaders" class="tab-pane fade in active">
                  <h5>FINAL SHADERS</h5>
                  <ul>
                    <li>
                        A toon shader was added to the models
                    </li>
                  </ul> 
              </div>
              <div id="finishing-touches" class="tab-pane fade">
                <h5>FINISHING TOUCHES</h5>
                <ul>
                  <li>
                    <a href="https://www.assetstore.unity3d.com/en/#!/content/60004">Background</a> added to provide more visual cues about the season changing
                  </li>
                  <li>
                    Scoreboard added  to track high scores
                  </li>
                  <li>
                    Final paint particle effects implemented
                  </li>
                </ul> 
              </div>
            </div>
           </div>  
          </div>
        </div>
        <div class="container">
            <img width="100%" class="CV-image" src="/assets/img/finalBTN.png" alt="finalBTN">
        </div>
      </div>
    </div>
  </div>
</div>