<div class="home">
  <section>
      <div class="jumbotron text-center">
        <div class="container">
          <div class="row">
            <div class="col-xs12">
              <h1>Becca Baird</h1>
              <p>I am an interactive multimedia and design student at Carleton University.</p>
              <p>{{#link-to 'portfolio-index' class='btn btn-primary btn-lg to-portfolio'}}See more &raquo;{{/link-to}}</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="homepage-image">
        {{#parallax-content speed=0.5 height=1750}}
            <img src="/assets/img/bgExtraLong.jpg">
        {{/parallax-content}}
    </div>
    <div class="homepage">
        <section>
          <div class="container">
            <div class="row">
              <div class="col-xs-12 text-center">
                <h1>Lorem ipsum dolor sit amet</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, magni, doloribus, possimus eum sapiente deleniti doloremque fugit ut expedita molestiae iusto debitis eveniet modi obcaecati ipsam quos quis labore dicta.</p>
              </div>
            </div>
          </div>
        </section>
        <section>
          <div class="container">
            <div class="row well">
              <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="media">
                  <div class="media-left"> <a href="#"> <img class="media-object" src="/assets/img/program35x35.png" style="width:35px; height:35px;" alt="..."> </a> </div>
                  <div class="media-body">
                    <h2 class="media-heading">Programming</h2>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="media">
                  <div class="media-left"> <a href="#"> <img class="media-object" src="/assets/img/2d35x35.png" style="width:35px; height:35px;" alt="..."> </a> </div>
                  <div class="media-body">
                    <h2 class="media-heading">2D Art</h2>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="media">
                  <div class="media-left"> <a href="#"> <img class="media-object" src="/assets/img/3d35x35.png" style="width:35px; height:35px;" alt="..."></a></div>
                  <div class="media-body">
                    <h2 class="media-heading">3D Art</h2>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>Latest Work</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, et, placeat !</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center col-sm-12 col-xs-12">
                        <img src="/assets/img/office400x400.jpg" style="max-width:400px;" alt="">
                        <h3>Choleric Vision</h3>
                        <h6>A virtual reality horror experience</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 text-center col-sm-6 col-xs-6"><img class="smallThumb" style="max-width:200px;" src="/assets/img/doors200x200.jpg" alt=""></div>
                    <div class="col-md-3 text-center col-sm-6 col-xs-6"><img class="smallThumb" style="max-width:200px;" src="/assets/img/recorder200x200.jpg" alt=""></div>
                    <div class="col-md-3 text-center col-sm-6 col-xs-6 hidden-xs hidden-sm"><img class="smallThumb" style="max-width:200px;" src="/assets/img/bed200x200.jpg" alt=""></div>
                  <div class="col-md-3 text-center col-sm-6 col-xs-6 hidden-xs hidden-sm"><img class="smallThumb" style="max-width:200px;" src="/assets/img/plant200x200.jpg" alt=""></div>
              </div>
              <hr>
              
                     <div class="row">
                    <div class="col-md-12 text-center col-sm-12 col-xs-12">
                        <img class="largeThumb" class="img-responsive center-block" style="max-width:400px;" src="/assets/img/btn400x400.jpg" alt="">
                        <h3>By the Numbers</h3>
                        <h6>An on-rails virtual reality paint shooter</h6>
                    </div>
                </div>
             
              <div class="row">
                  <div class="col-md-3 text-center col-sm-6 col-xs-6"><img class="smallThumb" style="max-width:200px;" src="/assets/img/tree200x200.jpg" alt=""></div>
                  <div class="col-md-3 text-center col-sm-6 col-xs-6"><img class="smallThumb" style="max-width:200px;" src="/assets/img/barn200x200.jpg"  alt=""></div>
                  <div class="col-md-3 text-center col-sm-6 col-xs-6 hidden-xs hidden-sm"><img class="smallThumb" style="max-width:200px;" src="/assets/img/bridge200x200.jpg" alt=""></div>
                  <div class="col-md-3 text-center col-sm-6 col-xs-6 hidden-xs hidden-sm"><img src="/assets/img/cottage200x200.jpg" style="max-width:200px;" alt=""></div>
                </div>
            </div>
        </section>
        <br>
    </div>
</div>
