<div class="container">
  <div class="row">
    <div class="col-lg-12 cv-header">
      <h1 class="page-header">Project Oleum</h1>
      {{#parallax-content speed=0.25 height=125}}
        <img src="/assets/img/strip.jpg">
      {{/parallax-content}}
    </div>
  </div>
</div>
