<div class="container">
  <div class="row">
    <div class="col-lg-12 cv-header">
      <h1 class="page-header">Project Oleum</h1>
      {{#parallax-content speed=0.25 height=125}}
        <img src="/assets/img/strip.jpg">
      {{/parallax-content}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="choleric-vision-video">
        <iframe width="100%" src="https://www.youtube.com/embed/p0f-xAGqO0Y" frameborder="1" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-md-4">
      <h3>Project Description</h3>
      <p>
        The purpose of this website was to explore how new technologies can be used to communicate news stories.
      </p>
      <p>
        Over the course of 3 months the team worked to research and explain the effects of the oil sands from multiple perspectives through the use of various multimedia.
      </p>
      <p>
        The website features an embedded 3D virtual reality video to explain the Athabasca Oil Sands extraction process, an interactive timeline, interviews, a 3D rendering of a windmill and animations to aid in telling the story.
      </p>
      <p>
        <a href="https://projectoleum.github.io/70metresunder/">Click Here</a> for more information
      </p>
      <h3>Project Team</h3>
      <ul>
        <li><strong>Becca Baird</strong>: 2D Graphic Designer</li>
        <li><strong>Chris Hosmar</strong>: Compositor</li>
        <li><strong>Mark Brouwer</strong>: Programming Lead</li>
        <li><strong>Scott De Vouge</strong>: 3D Designer</li>
        <li><strong>Tamar Harris</strong>: Story Lead</li>
        <li><strong>Taryn Laurendeau</strong>: Project Manager</li>
        <li><strong>Travis Swan</strong>: Creative Lead</li>
      </ul>
      <h3>Software</h3>
      <ul>
        <li>Adobe Dreamweaver</li>
        <li>Adobe Illustrator</li>
        <li>Adobe Photoshop</li>
        <li>After Effects</li>
        <li>Materialize</li>
        <li>Maya</li>
      </ul>
    </div>
  </div>
</div>
<hr>
<div class="timeline-container">
   <div id="smartwizard" class="wizard_horizontal col-12">
    <ul class="wizard_steps col-12">
      <li class="done" id='li-1'>
        <a href="#step-1">
          <span class="step_no"></span>
          <span class="step_descr">Alpha</span>
        </a>
      </li>
      <li class="done" id='li-2'>
        <a href="#step-2">
          <span class="step_no"></span>
          <span class="step_descr">Beta</span>
        </a>
      </li>
      <li class="done" id='li-3'>
        <a href="#step-3">
          <span class="step_no"></span>
          <span class="step_descr">Final</span>
        </a>
      </li>
    </ul>
    <div>
      <div id="step-1">
        <div class="smart-wizard-step">
          <h6 class="wizard-header">Alpha</h6>
          <div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <ul class="nav nav-tabs nav-justified">
                <li class="active"><a data-toggle="tab" href="#wf">Wireframes</a></li>
                <li><a data-toggle="tab" href="#resrch">Research</a></li>
              </ul>
              <div class="tab-content">
                <div id="wf" class="tab-pane fade in active">
                  <h5>WIREFRAMES</h5>
                  <ul>
                    <li>
                      Wireframes were created for each webpage/section of a webpage
                    </li>
                  </ul> 
              </div>
              <div id="resrch" class="tab-pane fade">
                <h5>RESEARCH</h5>
                <ul>
                    <li>
                      Research was done on the subject matter as well as potential technologies and similar previous created  projects
                    </li>
                </ul> 
              </div>
            </div>
           </div>  
          </div>
        </div>
        <div class="container">
            <img width="100%" class="CV-image" src="/assets/img/alphaPO.png" alt="alphaPO">
        </div>
      </div>
      <div id="step-2">
        <div class="smart-wizard-step">
          <h6 class="wizard-header">Beta</h6>
          <div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <ul class="nav nav-tabs nav-justified">
                <li class="active"><a data-toggle="tab" href="#AP">Asset Production</a></li>
                <li><a data-toggle="tab" href="#IandD">Interviews and Drafts</a></li>
                <li><a data-toggle="tab" href="#WS">Website Structure</a></li>
              </ul>
              <div class="tab-content">
                <div id="AP" class="tab-pane fade in active">
                  <h5>ASSET PRODUCTION</h5>
                  <ul>
                    <li>
                      The required 3D models and 2D assets were created
                    </li>
                    <li>
                      Free use images were acquired for maps and portraits of individuals
                    </li>
                  </ul> 
              </div>
              <div id="IandD" class="tab-pane fade">
                <h5>INTERVIEWS AND FIRST DRAFTS</h5>
                <ul>
                    <li>
                      Key individuals were interviewed and the story was written, then edited
                    </li>
                </ul> 
              </div>
              <div id="WS" class="tab-pane fade">
                <h5>WEBSITE STRUCTURE</h5>
                <ul>
                    <li>
                      The basic website structure was laid out to be populated with the content created during the Beta phase
                    </li>
                    <li>
                      Placeholders are used to get an idea where the assets will go
                    </li>
                </ul> 
              </div>
            </div>
           </div>  
          </div>
        </div>
        <div class="container">
            <img width="100%" class="CV-image" src="/assets/img/betaPO.png" alt="betaPO">
        </div>
      </div>
      <div id="step-3">
        <div class="smart-wizard-step">
          <h6 class="wizard-header">Final</h6>
          <div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <ul class="nav nav-tabs nav-justified">
                <li class="active"><a data-toggle="tab" href="#fdraft">Final Draft of Written Content</a></li>
                <li><a data-toggle="tab" href="#ac">Assets Combined</a></li>
              </ul>
              <div class="tab-content">
                <div id="fdraft" class="tab-pane fade in active">
                  <h5>FINAL DRAFT OF WRITTEN CONTENT</h5>
                  <ul>
                    <li>
                      The final story was written and displayed on the website
                    </li>
                  </ul> 
              </div>
              <div id="ac" class="tab-pane fade">
                <h5>ASSETS COMBINED</h5>
                <ul>
                  <li>Images and GIFS were place on the website</li>
                  <li>
                    The 3D and 2D assets were combine to create the
                    <a href="https://www.youtube.com/watch?v=p0f-xAGqO0Y">VR Athabasca Oil Sands Extraction Process</a> video. Video can be viewed at the top of the page.
                  </li>
                </ul> 
              </div>
            </div>
           </div>  
          </div>
        </div>
        <div class="container">
            <img width="100%" class="CV-image" src="/assets/img/finalPO.png" alt="finalPO">
        </div>
      </div>
    </div>
  </div>
</div>