<div class="container">
  <div class="row">
    <div class="col-lg-12 cv-header">
      <h1 class="page-header">Sushi Master</h1>
      {{#parallax-content speed=0.25 height=125}}
        <img src="/assets/img/strip.jpg">
      {{/parallax-content}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="choleric-vision-video">
        <iframe width="100%" src="https://www.youtube.com/embed/W6KQraml_-w" frameborder="1" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-md-4">
      <h3>Project Description</h3>
      <p>
        Sushi Master is a 2D match-three puzzle app for android. Players are presented with multiple ingredients which they must find matches for in order to complete the sushi recipe.
      </p>
      <p>
        The game is touch controlled and works on any mobile android device.
      </p>
      <h3>Project Team</h3>
      <ul>
        <li><strong>Becca Baird</strong>: Lead Programmer, 2D Artist and Sound Designer</li>
        <li><strong>Claudia Gunn-Harcus</strong>: Programmer and 2D Artist</li>
        <li><strong>Layal Saikali</strong>: 2D Artist</li>
        <li><strong>Shuyi Yang</strong>: 2D Artist</li>
        <li><strong>William Wu</strong>: Programmer</li>
      </ul>
      <h3>Software</h3>
      <ul>
        <li>Adobe Illustrator</li>
        <li>Unity</li>
      </ul>
    </div>
  </div>
</div>
<hr>
<div class="timeline-container">
   <div id="smartwizard" class="wizard_horizontal col-12">
    <ul class="wizard_steps col-12">
      <li class="done" id='li-1'>
        <a href="#step-1">
          <span class="step_no"></span>
          <span class="step_descr">Alpha</span>
        </a>
      </li>
      <li class="done" id='li-2'>
        <a href="#step-2">
          <span class="step_no"></span>
          <span class="step_descr">Beta</span>
        </a>
      </li>
      <li class="done" id='li-3'>
        <a href="#step-3">
          <span class="step_no"></span>
          <span class="step_descr">Final</span>
        </a>
      </li>
    </ul>
    <div>
      <div id="step-1">
        <div class="smart-wizard-step">
          <h6 class="wizard-header">Alpha</h6>
          <div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <ul>
                  <li>
                    Concept sketches were created for each screen in the game
                  </li>
                  <li>
                    The game logic was determined
                  </li>
              </ul>
           </div>  
          </div>
        </div>
        <div class="container">
            <img width="100%" class="CV-image" src="/assets/img/alphaSM.png" alt="alphaSM">
        </div>
      </div>
      <div id="step-2">
        <div class="smart-wizard-step">
          <h6 class="wizard-header">Beta</h6>
          <div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <ul>
                <li>
                  The main game mechanics were implemented without touch controls, using buttons instead
                </li>
                <li>
                  All art assets were created
                </li>
              </ul>
           </div>  
          </div>
        </div>
        <div class="container">
            <img width="100%" class="CV-image" src="/assets/img/betaSM.png" alt="betaSM">
        </div>
      </div>
      <div id="step-3">
        <div class="smart-wizard-step">
          <h6 class="wizard-header">Final</h6>
          <div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <ul>
                <li>
                  Touch input was added
                </li>
                <li>
                  Sound was added (music on home screens and during gameplay, sound effects)
                </li>
              </ul>
           </div>  
          </div>
        </div>
        <div class="container">
            <img width="100%" class="CV-image" src="/assets/img/finalSM.png" alt="finalSM">
        </div>
      </div>
    </div>
  </div>
</div>