<div class="section well">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h4 class="text-center contact-link">CONTACT</h4>
        <div class="col-md-3 col-sm-3 col-xs-3">
          <a href="https://www.linkedin.com/in/beccarb/">
            <img class="home-image media-object" src="/assets/img/In-2C-34px-R.png" style="width:34px;" alt="...">
          </a>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3">
          <a href="https://twitter.com/BairdBones">
            <img class="home-image media-object" src="/assets/img/Twitter_Social_Icon_Blue.png" style="width:34px;" alt="...">
          </a>
        </div>
        <div class="col-md-3 text-center col-sm-3 col-xs-3">
          <a href="https://www.youtube.com/channel/UCWKfzP_o6xd_q1RM8thC36g"> 
            <img class="home-image  media-object" src="/assets/img/YouTube-icon-full_color.png" style="width:34px" alt="...">
          </a>
        </div>
        <div class="col-md-3 text-center col-sm-3 col-xs-3">
          <a href="mailto:becca.baird4@gmail.com">
            <img class="home-image media-object" src="/assets/img/mail.png" style="width:34px;" alt="...">
          </a>
        </div>
      </div>
    </div>
    <hr>
    <footer class="text-center">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <p>Copyright &copy; Becca Baird 2017.</p>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>