<nav class="navbar navbar-inverse navbar-static-top navbar-large">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mobileNav" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img class="logo-img" src="/assets/img/logo.png"></a>
    </div>
    <div class="collapse navbar-collapse" id="mobileNav">
      <ul class="nav navbar-nav">
        <li class="nav-item">{{#link-to 'Home' class='nav-link nav-list-item'}}Home{{/link-to}}</li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Portfolio <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="nav-item">{{#link-to 'choleric-vision' class='nav-link nav-list-item'}}Choleric Vision{{/link-to}}</li>
            <li role="separator" class="divider"></li>
            <li>{{#link-to 'by-the-numbers' class='nav-link nav-list-item'}}By the Numbers{{/link-to}}</li>
            <li role="separator" class="divider"></li>
            <li>{{#link-to 'project-oleum' class='nav-link nav-list-item'}}Project Oleum{{/link-to}}</li>
            <li role="separator" class="divider"></li>
            <li>{{#link-to 'scavenger-app-prototype' class='nav-link nav-list-item'}}Scavenger App Prototype{{/link-to}}</li>
            <li role="separator" class="divider"></li>
            <li>{{#link-to 'sushi-master' class='nav-link nav-list-item'}}Sushi Master{{/link-to}}</li>
          </ul>
        </li>
        <li class="nav-item">{{#link-to 'contact' class='nav-link nav-list-item'}}Contact{{/link-to}}</li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>