.navbar {
    font-size: 1.25em;
    margin-bottom: 0px !important;
}

.well {
    margin: 0px;
}

.logo-img {
    width: 25px;
    margin: 0px 10px;
}

.home-image {
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}