.pleaseWork1 {
    /* The image used */
    background-image: url("/assets/img/pleaseWork1.png");

    /* Set a specific height */
    min-height: 200px; 
    width:100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pleaseWork2 {
    /* The image used */
    background-image: url("/assets/img/pleaseWork2.png");

    /* Set a specific height */
    min-height: 200px; 
    width:100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pleaseWork3 {
    /* The image used */
    background-image: url("/assets/img/pleaseWork3.png");

    /* Set a specific height */
    min-height: 200px; 
    width:100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.project-name {
    color:#ddd;
    background-color:#282E34;
    text-align:center;
    padding:50px 60px;
    text-align: justify;
}

.project-descr-box {
    height: 20%;
    position: relative;
}