// code based off https://codepen.io/keithclark/pen/JycFw

.port-index {

    h1 {
       font-size: 200%
    }

    p {
      font-size: 140%;
      line-height: 150%;
      color: #333;
    }

    .slide {
      position: relative;
      padding: 15vh 10%;
      // min-height: 10vh;
      // width: 100vw;
      box-sizing: border-box;
      box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
      transform-style: inherit;
    }

    img {
      // position: absolute;
      top: 50%;
      left: 35%;
      width: 45%;
      height: 40%;
      transform: translateZ(.25px) scale(.75) translateX(-94%) translateY(-100%) rotate(2deg);
      // padding: 10px;
      border-radius: 5px;
      background: rgba(240,230,220, .7);
      box-shadow: 0 0 8px rgba(0, 0, 0, .7);
    }

    img:last-of-type {
      transform: translateZ(.4px) scale(.6) translateX(-104%) translateY(-40%) rotate(-5deg);
    }

    .slide:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left:0;
      right:0;
    }

    .title {
      width: 50%;
      padding: 5%;
      color: #FF87B0;
    }

    .slide:nth-child(2n) .title {
      margin-left: 0;
      margin-right: auto;
    }

    .slide:nth-child(2n+1) .title {
      margin-left: auto;
      margin-right: 0;
    }

    .slide, .slide:before {
      background: 75% 75% / cover;  
    }

    .header {
      font-size: 175%;
      color: #5957B5;
      text-shadow: 0 2px 2px #000;
    }

    #choleric-vision {
      background-image: url("/assets/img/portfolioCV.jpg");
      background-attachment: fixed;  
    }

    #by-the-numbers:before {
      background-image: url("/assets/img/portfolioBTN.jpg");
      transform: translateZ(-1px) scale(2);
      z-index:-1;
    }

    #project-oleum {
      background-image: url("/assets/img/portfolioPO.jpg");
      background-attachment: fixed;
    }

    #scavenger-app:before {
      background-image: url("/assets/img/portfolioGallery.jpg");
      transform: translateZ(-1px) scale(2);
      z-index:-1;
    }

    #sushi-master {
      background-image: url("/assets/img/portfolioSM.jpg");
      background-attachment: fixed;
    }
}